

<div class="container">
  <div class="create-user">


  <div class="error" *ngIf = "isError">
      <i class='bx bxs-comment-error' style='color:#9633ff'  ></i>
   <span>Esse emãil já está cadastrado</span>
  </div>////quando email der erro


  <div class="input">
    <i class='bx bxs-envelope' style='color:#8115f1' ></i>
    <input type="text" name="login" id="login" placeholder="E-mail" [(ngModel)]="user">
</div>
<div class="input">
    <i class='bx bxs-lock-alt' style='color:#8115f1' ></i>
    <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="pwd">
    <i class='bx bx-low-vision' style='color:#8115f1' ></i>
</div>
<div class="input">
  <i class='bx bxs-lock-alt' style='color:#8115f1' ></i>
  <input type="double" name="double" id="double" placeholder="Password" [(ngModel)]="double">
  <i class='bx bx-low-vision' style='color:#8115f1' ></i>
</div>

<button class="button"  (click)="login()"> create</button>
  </div>
</div>
