.conteiner{
    background: rgb(164, 223, 223);
    height: 200px;
    border-radius: 25%%;
}

.conteiner .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}