<div class="container">
    <form action="#">

<div class="form-group">
    <label for="txtNome">Task</label>
    <input type="text" name="txtNome" id="txtNome" placeholder="Digite o nome da tarefa"/>


    <label for="txtDesc">Digite a descrição da tarefa</label>
    <input type="text" name="txtDesc" id="txtDesc" placeholder="Digite a descrição da tarefa"/>
    
    <label for="txtResp">Responsável</label>
    <input type="text" name="txtResp" id="txtResp" placeholder="Digite o Responsável da tarefa"/>
    
    
    <label for="txtInicio">Data Inicio</label>
    <input type="date" name="txtInicio" id="txtInicio"/>

    <label for="txtFim">Data Fim</label>
    <input type="date" name="txtFim" id="txtFim"/>
<img src="./assets/t.png" alt="">
    <div class="button">
        
    <button>Cancelar</button>
    <button>Cadastrar</button>
</div>



</div>

    </form>
    



</div>