<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="container">
    <form action="#">
<div class="msgg" *ngIf="isError">
    <i class='bx bx-error-circle'></i>
    <span>Task não Cadastrada </span>
</div>
<div class="msg" *ngIf="isSucess">
    <i class="bx bx-check-circle"> </i>
    <span>Task Cadastrada</span>
</div>
<div class="form-group">
    <label for="txtNome">Task</label>
    <input type="text" name="txtNome" id="txtNome" placeholder="Digite o nome da tarefa"/>


    <label for="txtDesc">Digite a descrição da tarefa</label>
    <input type="text" name="txtDesc" id="txtDesc" placeholder="Digite a descrição da tarefa"/>
    
    <label for="txtResp">Responsável</label>
    <input type="text" name="txtResp" id="txtResp" placeholder="Digite o Responsável da tarefa"/>
    
    
    <label for="txtInicio">Data Inicio</label>
    <input type="date" name="txtInicio" id="txtInicio"/>

    <label for="txtFim">Data Fim</label>
    <input type="date" name="txtFim" id="txtFim"/>
<img src="./assets/t.png" alt="">
    <div class="button">
        
    <button >Cancelar</button>
    <button (click)="addTask()">Cadastrar</button>
</div>



</div>

    </form>
    



</div>