<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="container">
    <form action="#">

<div class="form-group">
   
    <label for="txtResp">Responsável</label>
    <input type="text" name="txtResp" id="txtResp" placeholder="Digite o Responsável da tarefa"/>
    
    
    <label for="txtInicio">Data Inicio</label>
    <input type="date" name="txtInicio" id="txtInicio"/>

    <label for="txtFim">Data Fim</label>
    <input type="date" name="txtFim" id="txtFim"/>

    <div class="button">
        
   
    <button >Cadastrar</button>
</div>



</div>

    </form>
    



</div>