<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<div class="container">
    <!-- HEADER 1 -->
    <div class="header1">
      <h2>dashboard</h2>
      <i class="bx bx-menu"></i>
    </div>

    <!-- HEADER 2 -->
    <div class="header2">
      <div class="box-esq">
        <i class="bx bxs-bell"></i>
        <i class="bx bx-envelope"></i>
        <i class="bx bxs-cog"></i>
      </div>
      <div class="box-dir">
        <i class="bx bx-search"></i>
        <i class="bx bxs-rocket"></i>
      </div>
    </div>

    <!-- User Information -->
    <div class="user-info">
      <div class="box-1">
        <i class="bx bx-bell"></i>
        <i class="bx bx-cog"></i>
        <i class="bx bxs-user-circle"></i>
      </div>

      <div class="box-2">
        <div class="img">
          <img src="/assets/avatar.png" alt="" />
        </div>
        <h3>Paula Silva</h3>
        <h5>p.silva@ifms.edu.br</h5>
      </div>

      <div class="box-3">
        <div class="box">
          <div class="item-1">
            <div class="troph">
              <i class="bx bx-trophy"></i>
            </div>
            <div>
              <h4>20</h4>
              <h4>Número 20</h4>
            </div>
          </div>
          <div class="item-2">
            <div class="troph">
              <i class="bx bx-user"></i>
            </div>
            <div>
              <h4>40</h4>
              <h4>Número 40</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="box-4">
        <div class="user-title">
          <h2>Tarefas em Andamento</h2>
          <a href="#">Mostrar todos</a>
        </div>

        <div class="task-1">
          <div>
            <span>01</span>
          </div>
          <div>
            <h3>Programar o todo list</h3>
            <h4>Tempo restante: 1d</h4>
          </div>
        </div>
        <div class="task-2">
          <div>
            <span>02</span>
          </div>
          <div>
            <h3>Corrigir o index.css</h3>
            <h4>Tempo restante: 3d</h4>
          </div>
        </div>
      </div>

      <div class="box-5">
        <div class="user-title">
          <h2>Tarefas Recentes</h2>
          <a href="#">Mostrar todos</a>
        </div>

        <div class="recent-task">
          <div class="status">
            <div class="ball"></div>
            <span>Adicionar botão em Task</span>
          </div>

          <div>
            <span>4d</span>
          </div>
        </div>

        <div class="recent-task">
          <div class="status">
            <div class="ball"></div>
            <span>Adicionar botão em Task</span>
          </div>

          <div>
            <span>4d</span>
          </div>
        </div>

        <div class="recent-task">
          <div class="status">
            <div class="ball"></div>
            <span>Adicionar botão em Task</span>
          </div>

          <div>
            <span>4d</span>
          </div>
        </div>

        <div class="recent-task">
          <div class="status">
            <div class="ball"></div>
            <span>Adicionar botão em Task</span>
          </div>

          <div>
            <span>4d</span>
          </div>
        </div>

        <div class="recent-task">
          <div class="status">
            <div class="ball"></div>
            <span>Adicionar botão em Task</span>
          </div>

          <div>
            <span>4d</span>
          </div>
        </div>
      </div>
    </div>

    <!-- MENU -->
    <div class="menu">
      <ul>
        <li>
          <a href="#"> <i class="bx bxs-dashboard"></i>Dashboard</a>
        </li>

        <li>
          <a href="#"><i class="bx bxs-analyse"></i>Análise</a>
        </li>
        <li>
          <a href="#"><i class="bx bx-task"></i>Todo List</a>
        </li>
        <li>
          <a href="#"> <i class="bx bxs-group"></i>Equipe</a>
        </li>
        <li>
          <a href="#"><i class="bx bxs-group"></i>Inbox</a>
        </li>
        <li>
          <a href="#"><i class="bx bxs-star"></i>Prioridades</a>
        </li>
      </ul>
    </div>
    <!-- CONTENT -->
    <div class="content">
      <div class="ad">
        <div class="img">Imagem</div>
         <div class="graph">
        <img src="/assets/graphy.png" alt="" />
      </div>
      </div>

      <section>
        <div class="box1">
          <div class="title">
            <button (click)="addMembros()">
              <i class="bx bx-plus"></i>
            </button>
     
            <span>Membros do Time</span>
          </div>

          <div class="member">
            <!-- CARD MEMBER -->
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Beto</h3>
                <h4>Professor</h4>
              </div>
            </div>
            <!-- FIM CARD MEMBER -->
            <!-- CARD MEMBER -->
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Beto</h3>
                <h4>Professor</h4>
              </div>
            </div>
            <!-- FIM CARD MEMBER -->
            <!-- CARD MEMBER -->
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Beto</h3>
                <h4>Professor</h4>
              </div>
            </div>
            <!-- FIM CARD MEMBER -->
            <!-- CARD MEMBER -->
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Beto</h3>
                <h4>Professor</h4>
              </div>
            </div>
            <!-- FIM CARD MEMBER -->
            <!-- CARD MEMBER -->
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Beatriz</h3>
                <h4>Professor</h4>
              </div>
            </div>
            <!-- FIM CARD MEMBER -->
            <!-- CARD MEMBER -->
            <div class="card-member">
              <div class="img">
                <img src="/assets/cara-feliz.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. André</h3>
                <h4>Professor</h4>
              </div>
            </div>
            <!-- FIM CARD MEMBER -->
          </div>

          <div class="title">
            <button>
              <i class="bx bx-plus"></i>
            </button>
            <span>Atividade</span>
          </div>

          <div class="activity">
            <div class="item-1">
              <!-- CARD MEMBER -->
              <div class="card-member">
                <div class="img">
                  <img src="/assets/cara-feliz.png" alt="" />
                </div>

                <div class="name">
                  <h3>Prof. Beto</h3>
                  <h4>Professor</h4>
                  <h5>11 maio 2023</h5>
                </div>
              </div>
              <!-- FIM CARD MEMBER -->
            </div>
            <div class="item-2">
              <!-- CARD MEMBER -->
              <div class="card-member">
                <div class="img">
                  <img src="/assets/avatar.png" alt="" />
                </div>

                <div class="name">
                  <h3>Juliana</h3>
                  <h4>Professor</h4>
                  <h5>11 maio 2023</h5>
                </div>
              </div>
              <!-- FIM CARD MEMBER -->
            </div>
            <div class="item-3">
              <!-- CARD MEMBER -->
              <div class="card-member">
                <div class="img">
                  <img src="/assets/cara-feliz.png" alt="" />
                </div>

                <div class="name">
                  <h3>Prof. Carlos</h3>
                  <h4>Professor</h4>
                  <h5>11 maio 2023</h5>
                </div>
              </div>
              <!-- FIM CARD MEMBER -->
            </div>
            <div class="item-4">
              <!-- CARD MEMBER -->
              <div class="card-member">
                <div class="img">
                  <img src="/assets/avatar.png" alt="" />
                </div>

                <div class="name">
                  <h3>Prof. Felipe</h3>
                  <h4>Professor</h4>
                  <h5>11 maio 2023</h5>
                </div>
              </div>
              <!-- FIM CARD MEMBER -->
            </div>
          </div>
        </div>
        <div class="box2">
          <div class="title">
            <button (click)="addTask()">
              <i class="bx bx-plus"></i>
            </button>
            <span>Adicionar nova tarefas</span>
          </div>
        </div>
      </section>
    </div>
  </div>
